@import 'style/mixin';
@import 'style/function';
@import 'style/settings';

.tagNameWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: em(14, 50);

  @include tab {
    margin-bottom: em(16, 50);
  }
}

.blogsContainer {
  @include pc {
    display: flex;
  }

  .mainWrapper {
    padding: 0 em(14, 15);

    @include pc {
      width: 66%;
    }

    @include tab {
      padding: 0 em(16, 15);
    }
  }

  .sideWrapper {
    padding: 0 em(14, 15);
    margin-top: em(14, 48);

    @include pc {
      width: 33%;
      margin-top: em(14, 0);
    }

    @include tab {
      padding: 0 em(16, 15);
    }
  }
}
