@import "style/settings";
@import 'style/mixin';
@import 'style/function';

html {
  box-sizing: border-box;
  height: 100%;
  font-size: medium;
  font-family: $fontFamily-primary;
  line-height: 1.5;
  letter-spacing: .05em;
  word-break: break-all;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  height: 100%;
  font-feature-settings: "palt";
  color: $color-text-primary;
  background-color: $color-body-background;
  min-width: 320px;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
a {
  color: inherit;
  text-decoration: none;
}
h1, h2, h3, h4, h5,strong {
  font-weight: bold;
}

.wrapper {
  background-color: $color-white;
  border-color: $color-gray;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  font-size: fz(14);
  margin: em(14, 50) auto;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;

  @include pc {
    font-size: fz(16);
    margin: em(16, 50) auto;
    width: em(16, 1230);
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: fz(14);

  @include tab {
    width: 90%;
    font-size: fz(16);
  }
}

.section {
  border-bottom-color: $color-gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: em(14, 48);
  text-align: center;

  @include tab {
    padding-bottom: em(16, 48);
  }

  @include lap {
    padding-top: em(16, 48);
  }

  @include pc {
    text-align: initial;
  }
}

.padding-block {
  padding-top: em(16,48);
  padding-bottom: em(16,48);
}

.border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $color-gray;
}