// --------------------------------------------------------
//  mixin (mobile to pc)
// --------------------------------------------------------

$tab: 768px;
$lap: 1024px;
$pc: 1200px;

@mixin tab {
  @media screen and (min-width: ($tab)) {
    @content;
  }
}

@mixin lap {
  @media screen and (min-width: ($lap)) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: ($pc)) {
    @content;
  }
}
