// --- color ---
$color-black: #0D0D0D;
$color-gray: #8F8F8F;
$color-hight-gray: #ededed;
$color-white: #fafafa;
$color-blue: #3333ff;
$color-hight-blue: #E5F5FA;
$color-red: #c90926;

// --- color brands---
$color-twitter: #1DA1F2;
$color-facebook: #3C5A99;
$color-line: #00B900;
$color-googlePlus: #DD5144;
$color-youtube: #DA1725;

// --- color set text ---
$color-text-primary: $color-black;
$color-text-secondary: $color-white;
$color-text-sub: $color-gray;

// --- color set background ---
$color-globalNav-background: $color-black;
$color-body-background: $color-hight-blue;
$color-footer-background: $color-black;

// --- font family ---
$fontFamily-primary: 'Noto Sans JP', 游ゴシック, 'Yu Gothic', 游ゴシック体, YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', メイリオ, Meiryo, sans-serif;
