@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

// --- color ---
$color-black: #0D0D0D;
$color-gray: #c6c6c6;
$color-hight-gray: #ededed;
$color-hight-green: #2ABCA7;
$color-white: #fafafa;
$color-blue: #3333ff;
$color-hight-blue: #E5F5FA;
$color-red: #f44336;

// --- color brands---
$color-twitter: #1DA1F2;
$color-facebook: #3C5A99;
$color-line: #00B900;
$color-googlePlus: #DD5144;
$color-youtube: #DA1725;

// --- color set text ---
$color-text-primary: $color-black;
$color-text-secondary: $color-white;
$color-text-sub: $color-gray;

// --- color set background ---
$color-globalNav-background: $color-black;
$color-body-background: $color-hight-blue;
$color-footer-background: $color-black;

// --- font family ---
$fontFamily-primary: "'Ubuntu, sans-serif','Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif";
