@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.wrapper {
  width: 100%;
  padding: function.em(14, 28) function.em(14, 15) function.em(14, 15) function.em(14, 15);
  border: settings.$color-hight-gray solid 1px;

  @include mixin.tab {
    padding: function.em(16, 15) function.em(16, 15) function.em(16, 15) function.em(16, 15);
  }

  h1 {
    padding-bottom: function.em(16, 20);
    font-size: function.fz(16);
    color: settings.$color-dark-blue;
    text-align: center;
  }

  .list {
    list-style: none;
    border-bottom: 1px solid settings.$color-hight-gray;

    &:last-child {
      border-bottom: none;
    }

    a {
      display: block;
      padding: function.em(12, 10);
      font-size: function.fz(12);

      @include mixin.tab {
        padding: function.em(14, 10);
        font-size: function.fz(14);
      }
    }

    a:hover {
      color: settings.$color-hight-gray;
    }
  }
}
