@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.date {
  display: flex;
  align-items: center;
  font-size: function.fz(12);
  text-align: center;

  @include mixin.tab {
    font-size: function.fz(14);
  }

  > time {
    margin-right: function.em(12, 10);

    @include mixin.tab {
      margin-right: function.em(14, 10);
    }
  }

  svg {
    margin-right: function.em(12, 3);
    font-size: function.fz(12);

    @include mixin.tab {
      margin-right: function.em(14, 3);
      font-size: function.fz(14);
    }
  }
}
