@import 'style/mixin';
@import 'style/function';
@import 'style/settings';

.contact {
  padding-bottom: em(14, 42);
  border-bottom-color: $color-hight-gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  @include tab {
    padding-bottom: em(16, 42);
  }

  .blog {
    @include tab {
      margin: 0 auto;
    }

    .entryHeader {
      margin-bottom: em(14, 28);

      h1 {
        margin: em(18, 12) 0;
        font-size: fz(18);
        line-height: em(18, 36);

        @include tab {
          margin: em(20, 12) 0;
          font-size: fz(20);
          line-height: em(20, 48);
        }
      }
    }
  }
}
