@import 'style/mixin';
@import 'style/function';
@import 'style/settings';

.contact {
  padding-bottom: em(14, 15);
  border-bottom-color: $color-hight-gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  .blog {
    @include tab {
      margin: 0 auto;
    }

    .entryHeader {
      margin-bottom: em(14, 28);

      h1 {
        margin: em(26, 12) 0;
        font-size: fz(20);
        line-height: em(26, 36);

        @include tab {
          font-size: fz(26);
          line-height: em(26, 48);
        }
      }
    }
  }

  .shareArea {
    padding-top: em(14, 30);

    @include tab {
      padding-top: em(16, 30);
    }
  }

  .linkArea {
    padding-top: em(14, 30);

    @include tab {
      padding-top: em(16, 30);
    }
  }
}
