@import 'style/mixin';
@import 'style/function';
@import 'style/settings';

.searchInputWrapper {
  margin-bottom: em(14, 20);

  @include tab {
    margin-bottom: 0 em(16, 20);
  }
}

.tagsWrapper {
  margin-bottom: em(14, 20);

  @include tab {
    margin-bottom: 0 em(16, 20);
  }
}

.contentsWrapper {
  position: relative;
  margin-top: em(14, 15);

  @include tab {
    position: sticky;
    top: em(14, 15);
    margin-top: em(16, 15);
  }
}
