@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.contact {
  padding-bottom: function.em(14, 42);
  border-bottom: settings.$color-hight-gray solid 1px;

  @include mixin.tab {
    padding-bottom: function.em(16, 42);
  }

  .blog {
    @include mixin.tab {
      margin: 0 auto;
    }

    .breadcrumbsWrapper {
      padding-top: function.em(14, 20);

      @include mixin.tab {
        padding-top: function.em(16, 20);
      }
    }

    .entryHeader {
      padding-top: function.em(14, 7);
      padding-bottom: function.em(14, 40);

      @include mixin.tab {
        padding-top: function.em(16, 40);
        padding-bottom: function.em(16, 40);
      }

      h1 {
        margin-bottom: function.em(24, 12);
        font-size: function.fz(24);

        @include mixin.tab {
          margin-bottom: function.em(30, 24);
          font-size: function.fz(30);
        }
      }
    }

    .content {
      font-size: function.fz(14);

      @include mixin.tab {
        font-size: function.fz(16);
      }

      h3 {
        padding-left: function.em(20, 10);
        border-left: 5px solid #ededed;
      }
    }

    .pre {
      line-height: 30.4px;

      code {
        letter-spacing: normal;
      }
    }
  }
}
