@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.warp {
  &:hover {
    background: aliceblue;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
  }

  .card {
    display: flex;
    align-items: center;
    padding: function.em(14, 16) 0 function.em(14, 16) function.em(14, 8);
    border-bottom: 1px solid settings.$color-hight-gray;

    @include mixin.tab {
      padding: function.em(16, 24) 0 function.em(16, 24) function.em(16, 12);
    }

    .icon {
      padding: function.em(14, 10);

      @include mixin.tab {
        padding: function.em(16, 10);
      }

      background: settings.$color-hight-gray;
      border-radius: 4px;
    }

    .content {
      width: calc(100% - 90px);
      padding-left: function.em(16, 20);

      @include mixin.tab {
        padding-left: function.em(16, 20);
      }

      .contentWarp {
        margin-top: function.em(14, 5);

        @include mixin.tab {
          margin-top: function.em(16, 5);
        }
      }
    }

    h2 {
      font-size: function.fz(16);
      line-height: 1.4;

      @include mixin.tab {
        font-size: function.fz(18);
      }
    }
  }
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: function.em(14, 20);

  @include mixin.tab {
    margin-top: function.em(16, 20);
  }
}

.breadcrumbsWrapper {
  padding-top: function.em(14, 20);

  @include mixin.tab {
    padding-top: function.em(16, 20);
  }
}
