@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.wrapper {
  margin-bottom: function.em(14, 20);

  @include mixin.tab {
    margin-bottom: 0 function.em(16, 20);
  }
}

.sideFlow {
  position: relative;
  margin-bottom: function.em(14, 15);

  @include mixin.tab {
    position: sticky;
    top: function.em(16, 90);
    margin-bottom: function.em(16, 15);
  }

  .contentsWrapper {
    margin-bottom: function.em(14, 15);

    @include mixin.tab {
      margin-bottom: function.em(16, 15);
    }
  }

  .shareArea {
    margin-bottom: function.em(14, 20);

    @include mixin.tab {
      margin-bottom: 0 function.em(16, 20);
    }

    button {
      margin-right: 5px;
    }

    button:last-child {
      margin-right: 0;
    }
  }
}
