@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.profile {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 0;
    height: 0;
    content: '';
    border-top: 20px solid settings.$color-hight-blue;
    border-right: 20px solid transparent;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    width: 0;
    height: 0;
    content: '';
    border-bottom: 20px solid settings.$color-hight-blue;
    border-left: 20px solid transparent;
  }

  padding: 1.5em;
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 10%);

  .nameArea {
    display: flex;
    align-items: center;

    .icon {
      width: 80px;
      height: 80px;
      margin-right: function.em(14, 10);
      background-color: settings.$color-hight-blue;
      border: 1px solid settings.$color-black;

      img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
      }
    }

    h2 {
      color: settings.$color-dark-blue;
    }
  }

  .profileContentArea {
    margin-top: function.em(14, 10);

    .description {
      font-size: function.fz(14);
    }

    .linkArea {
      display: flex;
      justify-content: center;
      margin-top: function.em(14, 12);
      margin-bottom: function.em(14, 12);

      @include mixin.tab {
        margin-top: function.em(16, 12);
        margin-bottom: function.em(16, 12);
      }

      a,
      button {
        margin-left: function.em(14, 20);

        @include mixin.tab {
          margin-left: function.em(16, 20);
        }
      }

      :first-child {
        margin-left: 0;

        @include mixin.tab {
          margin-left: 0;
        }
      }
    }
  }
}
