@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.content {
  &:nth-child(2) {
    padding-top: 0;
  }

  padding: function.em(14, 48) 0;
  border-bottom-color: settings.$color-hight-gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  @include mixin.tab {
    padding: function.em(16, 48) 0;
  }

  &:first-child {
    padding-top: 0;
  }

  h2 {
    margin: function.em(18, 12) 0;
    font-size: function.fz(18);
    line-height: function.em(18, 36);

    @include mixin.tab {
      margin: function.em(20, 12) 0;
      font-size: function.fz(20);
      line-height: function.em(20, 48);
    }
  }

  .photo {
    display: flex;
    justify-content: center;
  }

  .blog {
    @include mixin.tab {
      margin: 0 auto;
    }

    .date {
      display: flex;
      align-items: center;
      margin-top: function.em(14, 10);

      @include mixin.tab {
        margin-top: function.em(16, 10);
      }

      svg {
        margin-right: function.em(13, 5);
        font-size: function.fz(13);
        color: settings.$color-right-blue;
      }

      span {
        font-size: function.fz(13);
      }
    }
  }

  .read {
    color: settings.$color-white;
    background-color: settings.$color-dark-blue !important;
    border-radius: 2px;
  }
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: function.em(14, 20);

  @include mixin.tab {
    margin-top: function.em(16, 20);
  }
}
