@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.topBlogArea {
  padding: function.em(14, 14) function.em(14, 20) function.em(14, 32) function.em(14, 20);
  background: rgb(241, 244, 247);

  & :nth-child(2) .rank {
    background: #dbb400;
  }

  & :nth-child(3) .rank {
    background: #c9caca;
  }

  & :nth-child(4) .rank {
    background: #c47022;
  }

  @include mixin.tab {
    padding: function.em(16, 14) function.em(16, 20) function.em(16, 32) function.em(16, 20);
  }

  .title {
    font-size: function.fz(20);
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.05em;

    img {
      margin-right: function.em(20, 20);
    }
  }

  .list {
    margin-top: function.em(14, 10);

    &:hover {
      background: aliceblue;
    }

    @include mixin.tab {
      margin-top: function.em(16, 10);
    }

    a {
      display: flex;
      padding: function.em(14, 20) function.em(14, 10);

      @include mixin.tab {
        padding: function.em(16, 20) function.em(16, 10);
      }

      div:first-child {
        position: relative;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        margin-right: 1em;
        overflow: hidden;
        font-size: function.fz(20);
        font-weight: bold;
        color: #fff;
        border-radius: 3px;
      }

      p {
        font-size: function.fz(14);
        font-weight: bold;

        @include mixin.tab {
          font-size: function.fz(18);
        }
      }
    }
  }
}
