@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.topBlogArea {
  padding: function.em(14, 32) function.em(14, 14);
  background: rgb(241, 244, 247);

  .list {
    margin-top: function.em(14, 10);

    :hover {
      background: aliceblue;
    }

    @include mixin.tab {
      margin-top: function.em(16, 10);
    }

    a {
      display: flex;
      padding: function.em(14, 20) function.em(14, 10);

      @include mixin.tab {
        padding: function.em(16, 20) function.em(16, 10);
      }

      div:first-child {
        position: relative;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        margin-right: 1em;
        overflow: hidden;
        font-size: function.fz(20);
        font-weight: bold;
        color: settings.$color-dark-blue;
        background-color: settings.$color-hight-blue;
        border-radius: 3px;
      }

      h4 {
        font-size: function.fz(14);

        @include mixin.tab {
          font-size: function.fz(18);
        }
      }
    }
  }
}
