@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.date {
  display: flex;
  align-items: center;
  margin-bottom: function.em(14, 10);

  @include mixin.tab {
    margin-bottom: function.em(16, 10);
  }

  svg {
    margin-right: 5px;
    font-size: function.fz(14);
    color: settings.$color-right-blue;

    @include mixin.tab {
      font-size: function.fz(16);
    }
  }

  svg:nth-of-type(2) {
    margin-left: function.em(14, 8);

    @include mixin.tab {
      margin-left: function.em(16, 8);
    }
  }
}
