@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.wrapper {
  margin-bottom: function.em(14, 20);

  @include mixin.tab {
    margin-bottom: 0 function.em(16, 20);
  }
}

.sideFlow {
  position: relative;
  margin-bottom: function.em(14, 20);

  @include mixin.tab {
    margin-bottom: function.em(16, 20);
  }

  .contentsWrapper {
    margin-bottom: function.em(14, 20);

    @include mixin.tab {
      margin-bottom: function.em(16, 20);
    }
  }
}

.sideBlogContentsFlow {
  position: relative;
  margin-bottom: function.em(14, 20);

  @include mixin.tab {
    margin-bottom: function.em(16, 20);
  }

  .contentsWrapper {
    margin-bottom: function.em(14, 20);

    @include mixin.tab {
      margin-bottom: function.em(16, 20);
    }
  }
}
