@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.form {
  padding: 0 function.em(14, 16) function.em(14, 14) function.em(14, 16);

  @include mixin.tab {
    flex: 2;
    padding: 0 function.em(16, 32) function.em(16, 16) function.em(16, 32);
  }

  .message {
    padding-top: function.em(14, 15);
    padding-bottom: function.em(14, 29);
    text-align: start;

    @include mixin.tab {
      padding-top: function.em(16, 15);
      padding-bottom: function.em(16, 31);
    }

    a {
      color: settings.$color-twitter;
    }
  }

  .send {
    width: function.em(14, 200);
    margin-top: function.em(14, 36);
    color: settings.$color-white;
    background-color: settings.$color-dark-blue !important;

    @include mixin.tab {
      width: function.em(16, 200);
      margin-top: function.em(16, 36);
    }
  }

  .error {
    margin-top: function.em(12, 3);
    margin-right: function.em(12, 14);
    margin-left: function.em(12, 14);
    font-size: fz(12);
    font-weight: 400;
    line-height: 1.66;
    color: settings.$color-red;
    text-align: left;
    letter-spacing: 0.03333em;
  }
}
