@import 'style/mixin';
@import 'style/function';
@import 'style/settings';

.form {
  padding: 0 em(14, 16) em(14, 14) em(14, 16);

  @include tab {
    flex: 2;
    padding: 0 em(16, 32) em(16, 16) em(16, 32);
  }

  .message {
    padding-top: em(14, 15);
    padding-bottom: em(14, 29);
    text-align: start;

    @include tab {
      padding-top: em(16, 15);
      padding-bottom: em(16, 31);
    }

    a {
      color: $color-twitter;
    }
  }

  .send {
    width: em(14, 200);
    margin-top: em(14, 36);
    color: $color-white;
    background-color: $color-dark-blue !important;

    @include tab {
      width: em(16, 200);
      margin-top: em(16, 36);
    }
  }

  .error {
    margin-top: em(12, 3);
    margin-right: em(12, 14);
    margin-left: em(12, 14);
    font-size: fz(12);
    font-weight: 400;
    line-height: 1.66;
    color: $color-red;
    text-align: left;
    letter-spacing: 0.03333em;
  }
}
