@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.footer {
  padding: function.em(14, 17);

  @include mixin.tab {
    padding: function.em(16, 17);
  }

  ol,
  ul {
    list-style: none;
  }

  .footerContent {
    display: flex;
    flex-wrap: wrap;
    margin-top: function.em(14, 10);

    @include mixin.tab {
      align-items: center;
      justify-content: center;
      margin-top: function.em(16, 10);
    }

    li {
      font-size: function.fz(12);
      white-space: nowrap;

      @include mixin.tab {
        font-size: function.fz(14);
      }

      &::after {
        margin: 0 function.em(12, 20);
        content: '|';

        @include mixin.tab {
          margin: 0 function.em(14, 20);
        }
      }

      &:last-child::after {
        margin: 0;
        content: '';
      }
    }
  }

  .title {
    margin-top: function.em(14, 20);
    font-size: function.fz(14);
    text-align: center;
  }
}
