@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.head {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: function.em(14, 7) 0;
  background-color: settings.$color-white;
  border-bottom-color: settings.$color-gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  @include mixin.tab {
    padding: function.em(16, 7) 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin: 0 function.em(16, 20);

    @include mixin.tab {
      margin: 0;
    }

    .title {
      h2 {
        font-size: function.fz(16);
      }

      h3 {
        font-size: function.fz(14);
        font-weight: normal;
      }
    }
  }

  .titleArea {
    display: flex;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: function.em(14, 50);
    height: function.em(14, 50);
    margin-right: function.em(14, 20);
    background-color: settings.$color-hight-blue;
    border-color: settings.$color-gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;

    @include mixin.tab {
      width: function.em(16, 50);
      height: function.em(16, 50);
      margin-right: function.em(16, 20);
    }

    img {
      width: function.em(14, 30);
      height: function.em(14, 40);

      @include mixin.tab {
        width: function.em(16, 30);
        height: function.em(16, 40);
      }
    }
  }

  .close {
    padding: 0 !important;

    svg {
      font-size: function.fz(54);
    }
  }
}

.logo {
  width: 300px;
  padding-top: function.em(14, 20);
  margin: 0 auto;

  @include mixin.tab {
    width: 50%;
    max-width: 400px;
    padding-top: function.em(16, 20);
  }
}

.globalNav {
  line-height: function.em(14, 50);

  @include mixin.tab {
    line-height: function.em(16, 50);
  }

  ul {
    display: flex;
    width: 100%;

    :not(:last-child) {
      margin-right: function.em(14, 10);
    }

    li {
      list-style: none;

      a {
        padding: function.em(14, 5);
        text-transform: uppercase;
      }
    }
  }
}
