@import '../../../style/mixin';
@import '../../../style/function';
@import '../../../style/settings';

.content {
  background-color: $color-hight-blue;
  border-color: $color-gray;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: em(14, 22);
  margin-left: em(14, 22);
  margin-right: em(14, 22);
  overflow: hidden;
  padding-bottom: em(14, 17);
  padding-top: em(14, 17);
  position: relative;
  width: em(14, 170);

  @include pc {
    height: em(16, 170);
    margin-bottom: em(16, 20);
    margin-left: em(16, 20);
    margin-right: em(16, 20);
    padding-bottom: initial;
    padding-top: initial;
    width: em(16, 170);
  }

  .before {
    align-items: center;
    display: block;
    display: flex;
    justify-content: center;
    overflow: hidden;

    @include pc {
      height: em(16, 170);
      position: relative;
      transition: all 0.5s ease-in-out;
      width: em(16, 170);
      z-index: 4;
    }

    img {
      height: em(16, 120);
      width: em(16, 100);
    }
  }

  &:hover .before {
    @include pc {
      margin-top: - em(16, 172);
    }
  }

  .after {
    display: block;
    padding-top: em(16, 10);
    text-align: center;
    top: 0;

    @include pc {
      font-size: fz(21);
      padding-top: em(21, 75);
      width: em(21, 170);
      z-index: 3;
    }
  }
}
