@import 'style/mixin';
@import 'style/function';
@import 'style/settings';

.twitter {
  color: $color-white !important;
  background-color: $color-twitter !important;
}

.github {
  color: $color-white !important;
  background-color: $color-black !important;
}
