@use 'style/settings';

.twitter {
  color: settings.$color-white !important;
  background-color: settings.$color-twitter !important;
}

.github {
  color: settings.$color-white !important;
  background-color: settings.$color-black !important;
}
