@use 'style/mixin';
@use 'style/function';

.logo {
  display: flex;
  justify-content: center;
  padding-top: function.em(14, 21);

  @include mixin.tab {
    padding-top: function.em(16, 24);
  }

  img {
    width: 300px;

    @include mixin.tab {
      width: 350px;
    }
  }
}
