@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.search {
  display: flex;
  padding-left: function.em(16, 15);
  border: settings.$color-hight-gray solid 1px;

  @include mixin.tab {
    padding-left: function.em(14, 15);
  }

  .searchIcon {
    background-color: settings.$color-hight-blue;
    border-radius: 2px;
  }

  .searchInput {
    width: 100%;
  }
}
