@use 'style/function';
@use 'style/settings';
@use 'style/mixin';

.tag {
  display: inline-block;
  padding: 2.5px 6px;
  margin: function.em(12, 8) function.em(12, 16) 0 0;
  font-size: function.fz(12);
  font-weight: 600;
  color: settings.$color-white;
  background-color: settings.$color-dark-blue;
  border-radius: 2px;
}
