.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 6px 16px;
  color: #fafafa;
  background: #1da1f2;
  border-radius: 2px;

  span {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
  }
}
