@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.search {
  display: flex;
  padding-left: function.em(16, 15);
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 10%);

  @include mixin.tab {
    padding-left: function.em(14, 15);
  }

  .searchIcon {
    background-color: settings.$color-hight-blue;
    border-radius: 2px;
  }

  .searchInput {
    width: 100%;
  }
}
