@import 'style/mixin';
@import 'style/function';
@import 'style/settings';

.contact {
  background-color: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  padding: em(14, 16) em(14, 32);
  text-align: center;

  @include tab {
    padding: em(16, 16) em(16, 32);
  }

  h2 {
    padding-bottom: em(21, 42);
    padding-top: em(21, 42);

    @include tab {
      padding-bottom: em(24, 42);
      padding-top: em(24, 42);
    }
  }

  p {
    padding-bottom: em(14, 14);

    @include tab {
      padding-bottom: em(16, 14);
    }
  }

  .back {
    background-color: $color-hight-green !important;
    color: $color-white;
    margin-top: em(14, 36);
    width: em(14, 150);

    @include tab {
      margin-top: em(16, 36);
      width: em(16, 150);
    }
  }
}
