@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.contact {
  padding: function.em(14, 16) function.em(14, 32);
  text-align: center;
  background-color: settings.$color-white;
  border-radius: 2px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);

  @include mixin.tab {
    padding: function.em(16, 16) function.em(16, 32);
  }

  h2 {
    padding-top: function.em(21, 42);
    padding-bottom: function.em(21, 42);

    @include mixin.tab {
      padding-top: function.em(24, 42);
      padding-bottom: function.em(24, 42);
    }
  }

  p {
    padding-bottom: function.em(14, 14);

    @include mixin.tab {
      padding-bottom: function.em(16, 14);
    }
  }

  .back {
    width: function.em(14, 150);
    margin-top: function.em(14, 36);
    color: settings.$color-white;
    background-color: settings.$color-dark-blue !important;

    @include mixin.tab {
      width: function.em(16, 150);
      margin-top: function.em(16, 36);
    }
  }
}
