@import 'style/mixin';
@import 'style/function';
@import 'style/settings';

.wrapper {
  padding: 0 em(14, 15);

  @include tab {
    padding: 0 em(16, 15);
  }
}

.content {
  text-align: center;

  h1 {
    font-size: fz(78);
    color: $color-dark-blue;
  }

  p {
    margin-bottom: em(14, 20);

    @include tab {
      margin-bottom: 0 em(16, 20);
    }
  }

  a {
    color: $color-blue;
    text-decoration: underline;
  }
}
