@import '../../style/mixin';
@import '../../style/function';
@import '../../style/settings';

.section {
  border-bottom-color: $color-gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: em(16, 48);
  text-align: center;

  @include lap {
    padding-top: em(16, 48);
  }

  @include pc {
    text-align: initial;
  }
}

.nav {
  border-bottom-color: $color-hight-gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: em(16, 48);

  @include lap {
    padding-bottom: em(16, 48);
  }

  @include pc {
    text-align: initial;
  }

  .contents {
    text-align: center;
  }
}

.profile {
  @include tab {
    display: flex;
    justify-content: center;
  }

  .iconArea {
    display: flex;
    justify-content: center;
    margin-bottom: em(14, 30);
    padding-left: em(14, 15);
    padding-right: em(14, 15);
    text-align: center;

    @include tab {
      width: 40%;
    }

    .icon {
      height: em(20, 238);
      width: em(20, 238);
    }
  }

  .titleArea {    
    border-right-color: $color-hight-gray;
    border-right-style: solid;
    border-right-width: 1px;
    margin-bottom: em(14, 30);
    padding-left: em(14, 15);
    padding-right: em(14, 15);
    text-align: center;

    @include tab {
      width: 60%;
    }

    .title {
      font-size: fz(36);
      line-height: em(36, 40);
      margin-top: em(36, 48);

      @include tab {
        font-size: fz(66);
        line-height: em(66, 72);
        margin-top: em(66, 48);
      }
    }
  }

  .linkArea {
    margin-bottom: em(16, 12);
    margin-top: em(16, 12);
  }
}

.twitter {
  background-color: $color-twitter !important;
  color: $color-white !important;
  margin-right: em(16, 20) !important;
}

.github {
  background-color: $color-black !important;
  color: $color-white !important;
}
