@import 'style/mixin';
@import 'style/function';
@import 'style/settings';

.logo {
  display: flex;
  justify-content: center;
  padding-top: em(14, 21);

  @include tab {
    padding-top: em(16, 24);
  }

  img {
    width: 300px;

    @include tab {
      width: 350px;
    }
  }
}

.nav {
  border-bottom-color: $color-hight-gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: em(14, 32);

  @include tab {
    padding-top: em(16, 32);
  }

  @include lap {
    padding-bottom: em(16, 48);
  }

  @include pc {
    text-align: initial;
  }

  .contents {
    text-align: center;
  }
}

.profile {
  @include tab {
    display: flex;
    justify-content: center;
  }

  .iconArea {
    display: flex;
    justify-content: center;
    margin-bottom: em(14, 30);
    padding-left: em(14, 15);
    padding-right: em(14, 15);
    text-align: center;

    @include tab {
      margin-bottom: em(16, 30);
      padding-left: em(16, 15);
      padding-right: em(16, 15);
      width: 40%;
    }

    .icon {
      height: em(20, 238);
      width: em(20, 238);
    }
  }

  .titleArea {    
    border-right-color: $color-hight-gray;
    border-right-style: solid;
    border-right-width: 1px;
    margin-bottom: em(14, 30);
    padding-left: em(14, 15);
    padding-right: em(14, 15);
    text-align: center;

    @include tab {
      margin-bottom: em(16, 30);
      padding-left: em(16, 15);
      padding-right: em(16, 15);
      width: 60%;
    }

    .title {
      font-size: fz(36);
      line-height: em(36, 40);
      margin-top: em(36, 48);

      @include tab {
        font-size: fz(66);
        line-height: em(66, 72);
        margin-top: em(66, 48);
      }
    }
  }

  .linkArea {
    margin-bottom: em(14, 12);
    margin-top: em(14, 12);

    @include tab {
      margin-bottom: em(16, 12);
      margin-top: em(16, 12);
    }

    a:not(:nth-child(1)) {
      margin-left: em(14, 20);

      @include tab {
        margin-left: em(16, 20);
      }
    };
  }
}
