@use 'style/mixin';
@use 'style/function';

.searchContainer {
  margin-bottom: function.em(14, 48);

  @include mixin.tab {
    margin-bottom: function.em(16, 48);
  }

  h1 {
    text-align: center;
  }
}

.blogsContainer {
  @include mixin.pc {
    display: flex;
  }

  .mainWrapper {
    padding: 0 function.em(14, 15);

    @include mixin.pc {
      width: 66%;
    }

    @include mixin.tab {
      padding: 0 function.em(16, 15);
    }
  }

  .sideWrapper {
    padding: 0 function.em(14, 15);
    margin-top: function.em(14, 48);

    @include mixin.pc {
      width: 33%;
      margin-top: function.em(14, 0);
    }

    @include mixin.tab {
      padding: 0 function.em(16, 15);
    }

    .searchInputWrapper {
      margin-bottom: function.em(14, 20);

      @include mixin.tab {
        margin-bottom: 0 function.em(16, 20);
      }
    }
  }
}
