@import 'style/mixin';
@import 'style/function';
@import 'style/settings';

.blogContainer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-size: fz(14);

  @include tab {
    width: 50%;
    font-size: fz(16);
  }

  .wrapper {
    padding: 0 em(14, 15);

    @include tab {
      padding: 0 em(16, 15);
    }

    .shareArea {
      padding-top: em(14, 30);

      @include tab {
        padding-top: em(16, 30);
      }
    }
  }
}

.date {
  display: flex;
  align-items: center;
  margin-top: em(14, 10);

  @include tab {
    margin-top: em(16, 10);
  }

  svg {
    font-size: fz(13);
    color: $color-right-blue;
  }

  span {
    font-size: fz(13);
  }
}

.linkArea {
  padding-top: em(14, 30);
  list-style: none;

  @include tab {
    padding-top: em(16, 30);
  }

  li {
    padding-bottom: em(14, 30);

    @include tab {
      padding-bottom: em(16, 30);
    }
  }

  a {
    display: flex;
    align-items: center;
    height: 150px;
    padding: em(14, 4) em(14, 12);
    border-radius: 8px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;

    @include tab {
      padding: em(16, 4) em(16, 12);
    }

    div {
      width: calc(100% - 35px);
    }

    .arrow {
      color: $color-white;
      background-color: $color-dark-blue;
      border-radius: 8px;
    }
  }

  .tag {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: em(14, 8);
    font-size: fz(12);
    color: $color-dark-blue;
    transition: all 0.2s ease-in-out;

    @include tab {
      padding-top: em(16, 8);
    }

    svg {
      font-size: fz(12);
    }
  }

  /* fallback for IE */
  .text {
    display: block;
    height: 63px;
    padding: em(18, 5) em(18, 8);
    overflow: hidden;
    font-size: fz(18);
    font-weight: bold;
    line-height: 20px;
  }

  @supports (-webkit-line-clamp: 3) {
    .ellipsis {
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}

.contact {
  padding-bottom: em(14, 15);
  border-bottom-color: $color-hight-gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;

  .blog {
    @include tab {
      margin: 0 auto;
    }

    .entryHeader {
      margin-bottom: em(14, 28);

      h1 {
        margin: em(26, 12) 0;
        font-size: fz(20);
        line-height: em(26, 36);

        @include tab {
          font-size: fz(26);
          line-height: em(26, 48);
        }
      }
    }
  }
}
