@import 'style/mixin';
@import 'style/function';
@import 'style/settings';

.blogContainer {
  font-size: fz(14);
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include tab {
    font-size: fz(16);
    width: 70%;
  }

  .wrapper {
    padding: 0 em(14, 15);
  
    @include tab {
      padding: 0 em(16, 15);
    }
  }
}

.linkArea {
  list-style: none;
  margin-top: em(14, 60);

  @include tab {
    margin-top: em(14, 60);
  }

  li {
    margin-bottom: em(14, 30);

    @include tab {
      margin-bottom: em(16, 30);
    }
  }

  a {
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 150px;
    padding: em(14, 4) em(14, 12);
    transition: all 0.2s ease-in-out;

    @include tab {
      padding: em(16, 4) em(16, 12);
    }

    div {
      width: calc(100% - 35px);
    }

    .arrow {
      background-color: $color-dark-blue;
      border-radius: 8px;
      color: $color-white;
    }
  }

  .tag {
    align-items: center;
    color: $color-dark-blue;
    display: flex;
    font-size: fz(12);
    justify-content: flex-start;
    padding-top: em(14, 8);
    transition: all 0.2s ease-in-out;

    @include tab {
      padding-top: em(16, 8);
    }

    svg {
      font-size: fz(12);
    }
  }

  /* fallback for IE */
  .text {
    display: block;
    font-size: fz(18);
    font-weight: bold;
    height: 63px;
    line-height: 20px;
    overflow: hidden;
    padding: em(18, 5) em(18, 8);
  }

  @supports (-webkit-line-clamp: 3) {
    .ellipsis {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
}

.date {
  align-items: center;
  display: flex;
  margin-top: em(14, 10);

  @include tab {
    margin-top: em(16, 10);
  }

  svg {
    color: $color-right-blue;
    font-size: fz(13);
  }

  span {
    font-size: fz(13);
  }
}

.contact {
  border-bottom-color: $color-hight-gray;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: em(14, 15);

  @include tab {
    padding: em(16, 15);
  }

  .blog {
    @include tab {
      margin: 0 auto;
    }

    .entryHeader {
      margin-bottom: em(14, 28);

      h3 {
        font-size: fz(26);
        line-height: em(26, 48);
        margin-top: em(26, 12);
      }
    }
  }
}
