@import 'style/mixin';
@import 'style/function';
@import 'style/settings';

.wrapper {
  padding: 0 em(14, 15);

  @include tab {
    padding: 0 em(16, 15);
  }

  .content {
    border-bottom-color: $color-hight-gray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: em(14, 48) 0;

    @include tab {
      padding: em(16, 48) 0;
    }

    &:first-child {
      padding-top: 0;
    }

    h3 {
      font-size: fz(26);
      margin-bottom: em(26, 12);
      margin-top: em(26, 12);
    }

    .photo {
      display: flex;
      justify-content: center;
    }

    .blog {
      @include tab {
        margin: 0 auto;
        width: 50%;
      }

      .date {
        align-items: center;
        display: flex;
        margin-top: em(14, 10);

        @include tab {
          margin-top: em(16, 10);
        }

        svg {
          color: $color-right-blue;
          font-size: fz(13);
          margin-right: em(13, 5);
        }

        span {
          font-size: fz(13);
        }
      }
    }

    .read {
      background-color: $color-dark-blue !important;
      color: $color-white;
    }
  }
}

