@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.blogsContainer {
  padding: 0 function.em(14, 20);

  .wrapper {
    a {
      color: settings.$color-blue;
    }

    margin-top: function.em(14, 16);
    list-style: none;

    @include mixin.tab {
      margin-top: function.em(16, 24);
    }

    > :nth-of-type(n + 2) {
      margin-top: function.em(16, 8);

      @include mixin.tab {
        margin-top: function.em(16, 16);
      }
    }

    .categoryListItem {
      list-style: none;
    }

    .postList {
      margin-top: function.em(16, 8);
      margin-left: function.em(16, 16);
      list-style: none;

      @include mixin.tab {
        margin-top: function.em(16, 16);
        margin-left: function.em(16, 32);
      }
    }
  }
}
