@use 'style/mixin';
@use 'style/function';
@use 'style/settings';

.content {
  padding-right: function.em(14, 15);
  padding-left: function.em(14, 15);

  @include mixin.tab {
    padding-right: function.em(16, 15);
    padding-left: function.em(16, 15);
  }

  &:not(:last-child) {
    margin-bottom: function.em(14, 30);

    @include mixin.tab {
      margin-bottom: function.em(16, 30);
    }
  }

  .portfolio {
    padding: function.em(14, 16);
    background-color: settings.$color-white;
    border-radius: 2px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);

    @include mixin.tab {
      display: flex;
      padding: function.em(16, 16) function.em(16, 32);
    }

    .photo {
      text-align: center;

      @include mixin.tab {
        flex: 1;
      }

      .linkArea {
        margin-top: function.em(14, 20);

        @include mixin.tab {
          flex: 1;
          margin-top: function.em(16, 20);
        }

        a:not(:nth-child(1)) {
          margin-left: function.em(14, 20);

          @include mixin.tab {
            margin-left: function.em(16, 20);
          }
        }
      }

      img {
        max-height: 300px;
      }
    }

    .detail {
      margin-top: function.em(14, 20);

      @include mixin.tab {
        flex: 1;
        margin-top: function.em(16, 20);
        margin-left: function.em(16, 20);
      }

      .date {
        display: flex;
        align-items: center;

        svg {
          margin-right: function.em(13, 5);
          font-size: function.fz(13);
          color: settings.$color-right-blue;
        }

        span {
          font-size: function.fz(13);
        }
      }

      h2 {
        padding-top: function.em(26, 5);
        font-size: function.fz(26);
      }

      p {
        padding-top: function.em(14, 5);
        padding-bottom: function.em(14, 5);
      }
    }
  }
}
