@import 'style/mixin';
@import 'style/function';
@import 'style/settings';

.content {
  padding-left: em(14, 15);
  padding-right: em(14, 15);

  @include tab {
    padding-left: em(16, 15);
    padding-right: em(16, 15);
  }

  &:not(:last-child) {
    margin-bottom: em(14, 30);

    @include tab {
      margin-bottom: em(16, 30);
    }
  }

  .portfolio {
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
    padding: em(14, 16);

    @include tab {
      display: flex;
      padding: em(16, 16) em(16, 32);
    }

    .photo {
      text-align: center;

      @include tab {
        flex: 1;
      }

      .linkArea {
        margin-top: em(14, 20);

        @include tab {
          flex: 1;
          margin-top: em(16, 20);
        }

        a:not(:nth-child(1)) {
          margin-left: em(14, 20);

          @include tab {
            margin-left: em(16, 20);
          }
        };
      }

      img {
        max-height: 300px;
      }
    }

    .detail {
      margin-top: em(14, 20);

      @include tab {
        flex: 1;
        margin-left: em(16, 20);
        margin-top: em(16, 20);
      }

      h2 {
        font-size: fz(26);
        padding-bottom: em(14, 5);
        padding-top: em(14, 5);

        @include tab {
          padding-bottom: em(16, 5);
          padding-top: em(16, 5);
        }
      }

      p {
        padding-bottom: em(14, 5);
        padding-top: em(14, 5);
      }
    }
  }
}
